#ignore everything in the repo-specific maven cache, except for the placeholder file that ensures the directory exists


/target/
/.settings/
/.classpath
/.project
/.vscode
/application.properties
/application.yml
**/metadata/*.xml
**/*.jks
**/*.p12
**/*.crt
**/*.csr
**/*.chain
**/*.key
/nbproject/
