---
  version: '3.5'

  x-config:
    &secrets-config
    secrets:
      - source: tomcat_ssl_crt
        target: /home/spring/tomcat-wildcard-dev.crt
      - source: tomcat_ssl_key
        target: /home/spring/tomcat-wildcard-dev.key

  secrets:
    tomcat_ssl_crt:
      file: ./docker/certificates/tomcat-wildcard.crt
    tomcat_ssl_key:
      file: ./docker/certificates/tomcat-wildcard.key

  services:
    aqcu-gateway:
      build: .
      image: aqcu-gateway
      ports:
        - "7499:7499"
      << : *secrets-config
      volumes: 
        - ./docker/certificates/import_certs:/certificates:ro
      env_file:
        - ./docker/config.env
        - ./docker/secrets.env
    
    aqcu-gateway-local-dev:
      build: .
      image: aqcu-gateway
      network_mode: "host"
      ports:
        - "7499:7499"
      << : *secrets-config
      volumes: 
        - ./docker/certificates/import_certs:/certificates:ro
      env_file:
        - ./docker/config.env
        - ./docker/secrets.env
  
    aqcu-gateway-debug:
      build: .
      image: aqcu-gateway
      network_mode: "host"
      ports:
        - "7499:7499"
        - "8000:8000"
      << : *secrets-config
      volumes: 
        - ./docker/certificates/import_certs:/certificates:ro
      environment:
        - JAVA_OPTIONS="-agentlib:jdwp=transport=dt_socket,server=y,address=8000,suspend=n"
      env_file:
        - ./docker/config.env
        - ./docker/secrets.env
